<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <img src="https://miro.medium.com/max/1000/1*1LPBUmm5gjoDfet6AzMf1A.gif" style="margin:50px">
    <h1 style="margin:50px">Hey! Looks like you are lost...</h1>
    <button style="margin:50px;padding:10px"><a href="/home">Take me home</a></button>
</body>
</html>