<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to bottom right, #c9dfe7, #646969) no-repeat center fixed;
            background-size: cover;
            color: white;
        }
        input, button {
            color: black;
        }
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
    </style>
</head>
<body>
    <div>
        <header th:insert="~{fragments/fragments.html :: header}"> </header>
        <br><br>
    </div>
    <h1 style="margin:50px">Registration</h1>
    <hr/>
    <div th:if="${existingUsernameMsg}" style="margin:50px">
        <p>The username you chose is already in use. Please input another one.</p>
    </div>
    <div th:if="${existingEmailMsg}" style="margin:50px">
        <p>The email you chose is already in use. Please input another one.</p>
    </div>
    <form th:object="${user}" th:action="@{/registration}" method="post" style="margin:50px">
    <div class="row">
        <div class="column">
            Username: <input type="text" placeholder="Enter username REQUIRED" th:field="*{username}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            <br/><br/>
            First name: <input type="text" placeholder="Enter first name" th:field="*{firstName}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <br/><br/>
            Last name: <input type="text" placeholder="Enter last name" th:field="*{lastName}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <br/><br/>
            Email: <input type="text" placeholder="Enter email REQUIRED" th:field="*{email}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <br/><br/>
            Phone: <input type="tel" placeholder="Enter phone number" th:field="*{phone}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
            <br/><br/>
            Password: <input type="password" placeholder="Enter password REQUIRED" th:field="*{password}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <br/><br/>
            Confirm password: <input type="password" placeholder="Enter confirm password REQUIRED" th:field="*{confirmPassword}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            <br/><br/>
        </div>
        <div class="column">
            Daily limit: <input type="number" step="0.01" placeholder="Enter Daily limit" th:field="*{dailyLimit}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('dailyLimit')}" th:errors="*{dailyLimit}"></span>
            <br/><br/>
            Weekly limit: <input type="number" step="0.01" placeholder="Enter Weekly limit" th:field="*{weeklyLimit}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('weeklyLimit')}" th:errors="*{weeklyLimit}"></span>
            <br/><br/>
            Monthly limit: <input type="number" step="0.01" placeholder="Enter Monthly limit" th:field="*{monthlyLimit}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('monthlyLimit')}" th:errors="*{monthlyLimit}"></span>
            <br/><br/>
            Yearly limit: <input type="number" step="0.01" placeholder="Enter Yearly limit" th:field="*{yearlyLimit}" style="margin-left: 50px;"/>
            <br><br/><span th:if="${#fields.hasErrors('yearlyLimit')}" th:errors="*{yearlyLimit}"></span>
            <br/><br/>
        </div>
    </div>
        <button type="submit" style="color: black">Submit</button>
    </form>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>